/*
CSS file for FrontendLoginRegister module
*/

.expiration-counter {padding-left: 4px;}

.expiration-counter::before {
    content: '(';
}

.expiration-counter::after {
    content: ')';
}